@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Special+Elite&display=swap');

*{
    margin: auto;
    width: 980px;
    
}
header{
    text-align: center;
}

header button{
    width: 150px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section{
    display: flex;
    justify-content: space-around;
}

footer{
    text-align: center;
    margin: 3%;
}

h2{
    font-family: 'Gloria Hallelujah', cursive;
}