@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Special+Elite&display=swap');

*{
    margin: auto;
    width: 980px;
    
}
header{
    text-align: center;
}

main{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    float: left;
}

footer{
    text-align: center;
    margin: 3%;
}

h2{
    font-family: 'Gloria Hallelujah', cursive;
}